DATABASE_URL="mysql://root:@localhost:3306/bookstore_db"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="bookstore_db"

SECRET_API_KEY=secret
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret

API_KEY=376726879615276
API_SECRET=8SlghXX7nKvnMSt23Ih-94Jz0dQ
CLOUD_NAME=dyusrmlp1